Repository isdi-coders-2023/Superheroes-Temerarios-202301-bcn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint",
  "*.{js,ts,tsx,css,json,md}": "prettier --write"
}

Fix sonarcloud workflow
  .github/worflows/build.yml
  package.json
Due: prettier --write

Fix workflows folder name
  .github/workflows/audit.yml
  .github/workflows/build.yml
Due: none

Format editorconfig file
  .editorconfig
Due: none

Format editorconfig file
  .editorconfig
  package.json
Due: prettier --write

Delete default test file
  src/App.test.tsx
Due: eslint, prettier --write

Add styled-components and its types, Barlow and fontawesome icons
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

Create first custom hook
  src/data/data.ts
Due: eslint, prettier --write

Create useGetRecipes hook
  src/hooks/useGetRecipes.ts
Due: eslint, prettier --write

Add Home component containing first fetch load
  package.json
  public/index.html
  src/App.tsx
  src/pages/home/home.tsx
Due: eslint, prettier --write

Add new final newline in index.html file
  public/index.html
Due: none

Add recipes action creator
  public/index.html
  src/data/data.ts
  src/store/actions/recipes/recipesActionCreator.ts
  src/store/actions/recipes/types.ts
Due: eslint, prettier --write

Rename interfaces to fix code smells
  src/App.tsx
  src/data/data.ts
  src/hooks/useGetRecipes.ts
  src/pages/home/home.tsx
  src/store/actions/recipes/recipesActionCreator.ts
  src/store/actions/recipes/types.ts
Due: eslint, prettier --write

Add reducer and first function case
  src/App.tsx
  src/data/data.ts
  src/hooks/useGetRecipes.ts
  src/pages/home/home.tsx
  src/store/actions/recipes/recipesActionCreator.ts
  src/store/actions/recipes/types.ts
  src/store/reducers/recipesReducer.ts
Due: eslint, prettier --write

Add test to recipesActionCreator
  .husky/pre-commit
  package.json
  src/App.tsx
  src/data/data.ts
  src/hooks/useGetRecipes.ts
  src/index.tsx
  src/reportWebVitals.ts
  src/store/actions/recipes/recipesActionCreator.test.ts
  src/store/actions/recipes/recipesActionCreators.ts
  src/store/actions/recipes/types.ts
Due: eslint, prettier --write

Add reducer loadRecipes case test
  src/App.tsx
  src/data/data.ts
  src/hooks/useGetRecipes.ts
  src/store/actions/recipes/recipesActionCreator.ts
  src/store/actions/recipes/types.ts
  src/store/reducers/recipesReducer.test.ts
  src/store/reducers/recipesReducer.ts
Due: eslint, prettier --write

Add reducer default test
  package.json
  src/pages/home/home.tsx
  src/store/actions/recipes/types.ts
  src/store/reducers/recipesReducer.test.ts
Due: eslint, prettier --write

Add recipes context
  package-lock.json
  package.json
  src/store/contexts/recipes/RecipesContext.ts
Due: eslint, prettier --write

Add context provider
  src/pages/home/home.tsx
  src/store/contexts/recipes/RecipesContextProvider.tsx
Due: eslint, prettier --write

Fix context provider
  src/store/contexts/recipes/RecipesContextProvider.tsx
Due: eslint, prettier --write

Add .env to .gitignore
  .gitignore
Due: none

Change RecipesContext Provider constant name
  src/store/contexts/recipes/RecipesContextProvider.tsx
Due: eslint, prettier --write

Fix double useMemo import
  src/store/contexts/recipes/RecipesContextProvider.tsx
Due: eslint, prettier --write

Add workflow for testing
  .github/workflows/testing.yml
Due: none

Add home test and change home page component name
  src/App.tsx
  src/pages/HomePage/HomePage.test.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/home/home.tsx
Due: eslint, prettier --write

Add mock testing related files
  .gitignore
  .husky/pre-commit
  Components[1].md
  package.json
  src/App.tsx
  src/hooks/useGetRecipes.test.ts
  src/hooks/useGetRecipes.ts
  src/mocks/handlers.ts
  src/mocks/server.ts
  src/pages/home/home.tsx
  src/setupTests.ts
Due: eslint, prettier --write

Add AddButton tsx structure
  src/components/AddButton/AddButton.tsx
  src/pages/HomePage/HomePage.tsx
Due: eslint, prettier --write

Add style to AddButton component
  package-lock.json
  src/components/AddButton/AddButton.tsx
  src/components/AddButton/AddButtonStyled.tsx
Due: eslint, prettier --write

Add button component test
  src/components/AddButton/AddButton.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/ButtonStyled.tsx
  src/pages/HomePage/HomePage.tsx
Due: eslint, prettier --write

Fix HomePage test and add new favicon
  public/favicon.ico
  public/favicon.png
  public/index.html
  src/pages/HomePage/HomePage.test.tsx
Due: eslint, prettier --write

Change data.ts name to types.ts
  src/data/types.ts
  src/hooks/useGetRecipes.ts
  src/store/actions/recipes/recipesActionCreator.test.ts
  src/store/actions/recipes/recipesActionCreators.ts
  src/store/actions/recipes/types.ts
  src/store/contexts/recipes/RecipesContext.ts
  src/store/reducers/recipesReducer.ts
Due: eslint, prettier --write

Fixed vcode final line configuration
  public/index.html
Due: none

Fix button component test and fix some name files and bugs
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/ButtonStyled.tsx
  src/hooks/useGetRecipes.ts
  src/pages/HomePage/HomePage.tsx
Due: eslint, prettier --write

Add button component and it styles
  src/components/Button/ButtonStyled.tsx
  src/components/Loading/Loading.tsx
  src/components/Loading/LoadingStyled.tsx
  src/index.css
  src/pages/HomePage/HomePage.tsx
Due: eslint, prettier --write

Add test to Loading component
  src/components/Loading/Loading.test.tsx
  src/components/Loading/Loading.tsx
Due: eslint, prettier --write

Fix button class name
  src/pages/HomePage/HomePage.tsx
Due: eslint, prettier --write

Add test for customHook useGetRecipes and mocks files
  src/hooks/useGetRecipes.test.ts
  src/hooks/useGetRecipes.test.tsx
  src/hooks/useGetRecipes.ts
  src/mocks/MockContextProvider.tsx
  src/mocks/mockStore.ts
  src/pages/home/home.tsx
Due: eslint, prettier --write

Add components markdown file
  .husky/pre-commit
  Components.md
  src/hooks/useGetRecipes.ts
  src/setupTests.ts
Due: eslint, prettier --write

Fix Loading component aria-role and install react dom router
  package-lock.json
  package.json
  src/components/Loading/Loading.tsx
Due: eslint, prettier --write

Add .env to build and testing actions
  .github/workflows/build.yml
  .github/workflows/testing.yml
Due: none

Fix fetch env variable
  src/hooks/useGetRecipes.ts
Due: eslint, prettier --write
